.prova-itinere {
    margin-top: 40px;
  }
  
  .prova-itinere h2 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .prova-itinere ul {
    margin-left: 20px;
  }
  
  .prova-itinere table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .prova-itinere th, .prova-itinere td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .prova-itinere th {
    background: linear-gradient(to top, #267097b3, #a8d0e6);
    color: #333;
  }
  
  .prova-itinere tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .prova-itinere tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  .prova-itinere td a {
    color: #e74c3c;
    text-decoration: none;
  }
  