<div class="esami-container">
  <h1>Esami Database</h1>
  <p>In questa pagina troverete informazioni riguardanti gli esami.</p>

  <p>L’esame consiste in due prove riguardanti:</p>
  <ol>
    <li>
      Progettazione di una base di dati, a partire da un insieme di requisiti e
      dai dati di carico a regime.
    </li>
    <li>Implementazione in MySQL.</li>
  </ol>

  <p>
    Le prove vengono valutate in base alla capacità di analisi del problema e di
    giustificare le scelte progettuali, alla correttezza dello schema E/R
    proposto, alla correttezza e completezza dell’implementazione in SQL.
  </p>

  <p>
    L’esame del modulo si intende superato se si raggiunge la sufficienza su
    entrambe le parti.
  </p>

  <div class="prova-itinere">
    <h2>Prova in itinere</h2>
    <p>L’accesso alla prova in itinere è subordinato alla consegna di:</p>
    <ul>
      <li>
        almeno 3 dei 4 homework che verranno assegnati durante la prima metà del
        corso
      </li>
    </ul>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Homework</th>
          <th>Data Assegnazione</th>
          <th>Data Consegna</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Algebra Relazionale</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>MySQL Base</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>SQL Operatori Aggregati</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Procedure e Trigger</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <ul>
      <li>
        almeno 3 delle 4 esercitazioni che verranno svolte in aula. La consegna
        delle esercitazioni deve avvenire alla fine della lezione stessa.
      </li>
    </ul>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Esercitazioni</th>
          <th>Data Esercitazione</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Esercitazione Complessiva SQL</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Esercitazione Complessiva Progettazione</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Esercitazione complessiva SQL + progettazione</td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>Esercitazione complessiva SQL + progettazione</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
