<div id="main">
  <h1>Prenotazioni Appelli</h1>

  <div *ngIf="loading" class="loading">
    <img src="assets/loading.gif" alt="Loading..." />
  </div>

  <div *ngIf="errorMessage && !loading" class="error">
    {{ errorMessage }}
  </div>

  <ul *ngIf="!loading && Appelli.length > 0; else noAppelli">
    <li *ngFor="let appello of Appelli">
      <span>Data: {{ appello.data }}</span>
      <button
        *ngIf="prenotazioniMap[appello.id]"
        (click)="rimuoviPrenotazione(appello.id)"
      >
        Rimuovi
      </button>
      <button
        *ngIf="!prenotazioniMap[appello.id]"
        (click)="prenotaAppello(appello.id)"
      >
        Prenota
      </button>
      <button
        *ngIf="prenotazioniMap[appello.id]"
        (click)="openDatiDialog(appello)"
      >
        Dati
      </button>
    </li>
  </ul>

  <ng-template #noAppelli>
    <p *ngIf="!loading && Appelli.length === 0">
      Non ci sono appelli disponibili per il corso selezionato.
    </p>
  </ng-template>
</div>
