<h2 mat-dialog-title>Valutazione Esami</h2>
<mat-dialog-content>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="studenti.length === 0">
    Nessuno studente prenotato per questo appello.
  </div>

  <ul *ngFor="let studente of studenti">
    Nome:
    {{
      studente.studente.nome
    }}
    | Cognome:
    {{
      studente.studente.cognome
    }}
    | Matricola:
    {{
      studente.studente.matricola
    }}

    <h3>Voti SQL</h3>
    <div *ngFor="let voto of voti[studente.studente.id].sql; let i = index">
      <input
        type="number"
        [(ngModel)]="voti[studente.studente.id].sql[i]"
        placeholder="Inserisci votazione"
        min="0"
        max="30"
      />
      <button mat-button (click)="removeVotoSql(studente.studente.id, i)">
        Rimuovi
      </button>
    </div>
    <button mat-button (click)="addVotoSql(studente.studente.id)">
      Aggiungi Voto SQL
    </button>
    <p>
      Totale Voti SQL:
      {{ calculateTotaleVoti(voti[studente.studente.id].sql) }}/30
    </p>

    <h3>Voti ERM</h3>
    <div *ngFor="let voto of voti[studente.studente.id].erm; let i = index">
      <input
        type="number"
        [(ngModel)]="voti[studente.studente.id].erm[i]"
        placeholder="Inserisci votazione"
        min="0"
        max="30"
      />
      <button mat-button (click)="removeVotoErm(studente.studente.id, i)">
        Rimuovi
      </button>
    </div>
    <button mat-button (click)="addVotoErm(studente.studente.id)">
      Aggiungi Voto ERM
    </button>
    <p>
      Totale Voti ERM:
      {{ calculateTotaleVoti(voti[studente.studente.id].erm) }}/30
    </p>
  </ul>
</mat-dialog-content>
<button mat-button (click)="uploadEsiti()">Carica Esiti</button>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Chiudi</button>
</mat-dialog-actions>
