<div id="main" class="appelli-container">
  <h1>Valutazioni Studenti</h1>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <ul *ngIf="Appelli.length > 0; else noAppelli" class="appelli-list">
    <li *ngFor="let appello of Appelli" class="appello-item">
      <span class="appello-date">Data: {{ appello.data }}</span>
      <span class="appello-channel">Canale: {{ appello.corso.canale }}</span>
      <div class="button-group">
        <button
          mat-button
          color="primary"
          (click)="openGestisciValutazioniDialog(appello)"
        >
          Visualizza Esami Caricati
        </button>
      </div>
    </li>
  </ul>

  <ng-template #noAppelli>
    <p class="no-appelli">Non ci sono appelli.</p>
  </ng-template>
</div>
